	<h2>[공지] 코나카드 서버 점검 안내</h2>
	<br/>
	<p>안녕하십니까? 코나카드입니다.</p>

	<p>보다 나은 서비스를 제공하기 위하여 아래 일시 동안 서비스가 전면 중지되오니, 이용에 착오 없으시기 바랍니다. <br/>감사합니다. :) </p>
	<br/>
	<ul>
		<li>점검시간 : 11/20(월) 00:00am ~ 11/20(월) 07:00am (7hr)</li>
		<li>점검대상 : 코나카드 파트너 홈페이지, 코나카드 홈페이지, 코나카드 APP</li>
		<li>점검내용 : 기능개선 및 성능추가</li>
	</ul>
	<br/>
	<b>유의사항</b>
	<ul>
		<li>점검시간 중에는 서비스 이용이 일시적으로 불가능 합니다.</li>
		<li>점검대상 : 코나카드 파트너 홈페이지, 코나카드 홈페이지, 코나카드 APP</li>
	</ul>